<a href="/" >Página principal</a>
<br>

<h2>Historial</h2>
<br>
<a href="{{ url_for('limpiar_historial') }}" >Limpiar historial</a>
<br>
<ul>
    {% for historial in lista_historial %}
    <ul>
        <li>
            Consulta: {{ historial[0] }}
        </li>
        <li>
            P5: {{ historial[1] }}
        </li>
        <li>
            P10: {{ historial[2] }}
        </li>
        <li>
            P20: {{ historial[3] }}
        </li>
    </ul>
    <br>
    {% endfor %}

</ul>


