<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Buscador de artículos tecnológicos</title>
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h1>Buscador de artículos tecnológicos</h1>
        </div>

        <form action="{{ url_for('buscar_consulta') }}" method="post">
            <label for="consulta">Consulta:</label><br>
            <input type="text" id="consulta" name="consulta">
            <input type="submit" name="buscar" value="Buscar">
        </form>
        <a href="{{ url_for('ver_historial') }}" >Ver historial</a>

    </div>
</body>
 
</html>