<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Buscador de artículos tecnológicos</title>
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h1>Buscador de artículos tecnológicos</h1>
        </div>

        <form action="{{ url_for('buscar_consulta') }}" method="post">
            <label for="consulta">Consulta:</label><br>
            <input type="text" id="consulta" name="consulta">
            <input type="submit" name="buscar" value="Buscar">
        </form>
        <a href="{{ url_for('ver_historial') }}" >Ver historial</a>

        <div>
            <form action="{{ url_for('guardar_historial') }}" method="post">
                <h3>Documentos obtenidos para la consulta: {{ links[0] }}</h3>
                <ul>
                    {% for i in range(1, 21) %}
                    <li>
                        <a href={{ links[i] }}>{{links[i]}}</a><input type="checkbox" name="docs_relevantes" value={{ i-1 }}>
                    </li>
                    {% endfor %}
                </ul>
                <input type="submit">
            </form>
        </div>

    </div>
</body>
 
</html>